<div class="breadcrumb flex-column" ng-init="buscaDados()">
   <ul class="nav nav-tabs">
      <li class="nav-item">
         <a class="nav-link active" href="#!feed">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link disabled" href="#!config">Configurações Gerais</a>
      </li>
      <li class="nav-item">
         <a class="nav-link active" href="#!config/security">Segurança</a>
      </li>
   </ul>

   <img class="profilePic w-25 circle" alt="" src="./assets/profilePlaceholder.jpg"
      ng-if="user.email != null || undefined">
   <button class="w-25 btn btn-primary" ng-click="alterarFoto = true">Alterar Foto</button>
   <input ng-if="alterarFoto == true" type="file" name="" id="">

   <label for="staticEmail" class="col-sm-2 col-form-label">
      <strong>
         Nome de Usuário:
      </strong>
   </label>
   <div class="col-sm-10">

      <input type="text" class="form-control w-auto mt-3" id="newEmail" placeholder="Nome Usuário"
         ng-bind="{{user.name}}">
      <button id="salvaBtn" class="btn btn-primary w-auto mt-2" ng-click="alteraDados()">
         Salvar Alterações
      </button>
   </div>
</div>