<div class="breadcrumb flex-column">
   <ul class="nav nav-tabs">
      <li class="nav-item">
         <a class="nav-link active" href="#!feed">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link disabled" href="#!config">Configurações Gerais</a>
      </li>
      <li class="nav-item">
         <a class="nav-link active" href="#!config/security">Segurança</a>
      </li>
   </ul>

   <button ng-click="buscaDados()" class="btn btn-warning w-25">Carrega Dados</button>
   <!-- <p>{{user.email}}</p> -->
   <img src="./assets/profilePic.png" alt="" srcset="" ng-if="user.emailVerified == true">

   <form>
      <div class="form-group column">
         <label for="staticEmail" class="col-sm-2 col-form-label"><strong>Email Atual:</strong></label>
         <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
            <button id="alterarEmail" class="btn btn-primary w-25" ng-click="aterarEmail = true">Alterar Email</button>
            <input type="email" class="form-control" id="newEmail" placeholder="Novo Email" ng-if="aterarEmail== true">
            <button id="salvaEmail" class="btn btn-primary w-25" ng-click="test()" ng-if="aterarEmail== true">Salvar
               Alterações</button>

         </div>
      </div>
      <!-- <div class="form-group row">
         <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
         <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
         </div>
      </div> -->
   </form>

</div>