<div class="breadcrumb flex-column" ng-init="buscaDados()">
   <ul class="nav nav-tabs">
      <li class="nav-item">
         <a class="nav-link active" href="#!feed">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link active" href="#!config">Configurações Gerais</a>
      </li>
      <li class="nav-item">
         <a class="nav-link disabled" href="#!config/security">Segurança</a>
      </li>
   </ul>

   <hr>

   <form>
      <div class="form-group column">
         <!-- Altera Email -->
         <label for="staticEmail" class="col-sm-2 col-form-label">
            <strong>
               Email Atual:
            </strong>
         </label>
         <div class="col-sm-10">
            <input ng-if="alterarEmail != true" readonly type="text" class="form-control-plaintext w-auto "
               id="staticEmail" value="{{user.email}}">
            <input type="email" class="form-control w-auto mt-3" id="newEmail" placeholder="Novo Email"
               ng-if="alterarEmail== true" ng-model={{user.email}}>
            <button id="alterarEmail" class="btn btn-primary w-auto mt-2" ng-click="alterarEmail = true">
               Alterar Email
            </button>
            <button class="btn btn-success w-auto mt-2" ng-if="alterarEmail== true">
               Salvar
            </button>

            <!-- Altera Senha -->
            <div class="mt-3 w-25" ng-click="msgEnv = true">
               <button id="alterarSenha" class="btn btn-primary w-auto" ng-click="alterarSenha()">
                  Alterar Senha
               </button>
            </div>
            <div class="alert alert-info mt-3" ng-if="msgEnv == true" id="newPass">
               Um e-mail de redefinição foi enviado para {{user.email}}!
            </div>
         </div>
         <!-- Salva alterações feitas -->

      </div>
      <div class="col-sm-10 pb-1">
         <button class="btn btn-danger w-auto mt-5" ng-click="excluiUsuario()">
            Excluir Conta
         </button>
      </div>
</div>
</form>
</div>