<div class="breadcrumb flex-column">
   <ul class="nav nav-tabs">
      <li class="nav-item">
         <a class="nav-link active" href="#!feed">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link active" href="#!config">Configurações Gerais</a>
      </li>
      <li class="nav-item">
         <a class="nav-link disabled" href="#!config/security">Segurança</a>
      </li>
   </ul>
   <button ng-click="buscaDados()">Mostra e-mail teste</button>
   <p>{{user.email}}</p>
</div>
<hr>