<div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <!-- Foto de perfil -->
        <li class="nav-item configuracao">
          <a class="nav-link" href="#!config">
            <img src="../../assets/profilePic.png" alt="Profile Pic"><span class="sr-only">(current)</span></a>

        <li class="nav-item configuracao">
          <a class="nav-link" href="#!config">Minha Conta<span class="sr-only">(current)</span></a>

        <li class="nav-item sair">
          <a class="nav-link sair-toggle" href="#!login" ng-click="logout()" id="navbarSair" role="button"
            data-toggle="sair" aria-haspopup="true" aria-expanded="false">
            Sair
          </a>

        </li>
      </ul>

        <img class="displayed" style="text-align: center;" id="img" src="../../assets/img3.png" width="100" height="100">

        <form class="form-inline my-2 my-lg-0">
          <input id="from" ng-model="user.from" class="form-control mr-sm-2 ng-pristine ng-valid
          autocomplete=" type="search" placeholder="Buscar um local" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
  </nav>
  <hr>
  <div id="feed">
   <!--  <img src="../../assets/igm1.png" alt="GuiaVirtual"> -->
  </div>



  <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="-22,-41" zoom="3"></ng-map>
  </div>
</div>