<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#"> </a>
    <!-- Botão de responsividade -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Barra de pesquisa -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0" style="align-self: flex-end;">
        <input id="from" ng-model="user.from" class="form-control mr-sm-2 ng-pristine ng-valid
        autocomplete=" type="search" placeholder="Buscar um local" aria-label="Search">

        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" ng-click="geoCode()">
          <span class="glyphicon glyphicon-search"></span>
          <img class="image" style="text-align: center;" id="img" src="../../assets/lupa.png" width="25" height="25">
        </button>

      </form>
      <!-- Imagem do Centro home -->
      <img class="displayed" style="text-align: center;" id="img" src="../../assets/img3.png" width="100" height="100">

      <ul class="navbar-nav mr-auto">
        <!-- Sair -->
        <li class="nav-item sair">
          <a class="nav-link sair-toggle" href="#!login" ng-click="logout()" id="navbarSair" role="button"
            data-toggle="sair" aria-haspopup="true" aria-expanded="false">
            Sair
          </a>
        </li>

        <!-- Minha conta -->
        <li class="nav-item configuracao">
          <a class="nav-link" href="#!config">| Minha Conta<span class="sr-only">(current)</span></a>

          <!-- Foto de perfil -->
        <li class="nav-item configuracao">
          <a class="nav-link" href="#!config">
            <img src="../../assets/profilePic.png" alt="Profile Pic"><span class="sr-only">(current)</span></a>

      </ul>
    </div>
  </nav>
  <hr>
    <!--Imagens que vao voltar para o lugar mais tarde-->
  <!-- <div>
    <h3>Nome do lugar</h3>
    <div>
      <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg"
        data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img
          class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt="" /></a>
      <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg"
        data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image"
          src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
    </div>

    <div>
      <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg"
        data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img
          class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
      <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg"
        data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img
          class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
    </div>
  </div> --> 
  <!-- Daqui para baixo teste -->




  <!-- Teste Pare cima -->

  <div id="feed">
    <!--  <img src="../../assets/igm1.png" alt="GuiaVirtual"> -->
  </div>

  <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="-22,-41" zoom="3"></ng-map>
  </div>

</div>