<main>
   <div>
      <img class="displayed" id="img" src="../../assets/img.png" width="250" height="250">
   </div>
   <div class="form">
      <form class="Login">
         <h1>Recuperar Senha</h1>
         <h5>Será enviado um email de recuperação para o endereço que informar!</h5>
         <input type="email" placeholder="E-mail" id="email" ng-model="user.email" />
      </form>
      <button type="button" ng-click="enviaEmail()" id="btn">Enviar E-mail</button>
      <p class="message"><a href="#!login">Voltar ao Login</a></p>
   </div>
   </div>
</main>